[submodule "submodules/SEAL"]
	path = submodules/SEAL
	url = https://github.com/morfix-io/SEAL.git
[submodule "submodules/emsdk"]
	path = submodules/emsdk
	url = https://github.com/morfix-io/emsdk.git
        ignore = dirty
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = https://github.com/morfix-io/zlib.git
        ignore = dirty
