name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Pull & update submodules
        run: |
          npm run update:submodule

      - name: EMSDK Version
        id: emsdk-version
        run: |
          echo "EMSDK_SHA=$(./submodules/emsdk/emsdk list | grep recommended | awk -F'[()]' '{print $2}')" >> $GITHUB_ENV
      - name: Cache EMSDK
        id: cache-emsdk
        uses: actions/cache@v3
        with:
          path: submodules/emsdk
          key: ${{ runner.os }}-e-emsdk-${{ env.EMSDK_SHA }}
          restore-keys: |
            ${{ runner.os }}-e-emsdk-
      - name: Update EMSDK
        if: steps.cache-emsdk.outputs.cache-hit != 'true'
        run: |
          npm run update:emsdk

      - name: Compile SEAL
        if: steps.cache-seal.outputs.cache-hit != 'true'
        run: |
          npm run build

      - name: Save artifacts
        if: steps.cache-seal.outputs.cache-hit != 'true'
        uses: actions/upload-artifact@v4
        with:
          name: seal-artifacts
          path: src/
          if-no-files-found: error

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install NPM Dependencies
        run: |
          npm ci

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: seal-artifacts
          path: src/

      - name: Transpile to JavaScript
        run: |
          npm run compile
      - name: Run tests
        run: |
          npm run test
      - name: Generate coverage report
        run: |
          npm run coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
